# Ne pas inclure les fichiers suivants
**/*.log*
# Données MariaDB
.docker/mariadb/data/*

# Conserver les dossiers contenant un fichier .gitkeep mais pas nécessairement leur contenu
!**/.gitkeep
